.track {
    position: relative;
    height: 8px;
    width: 100%;
    background: var(--primary);
    border-radius: 999px;
}

.trackFilled {
    position: absolute;
    height: 100%;
    background: var(--accent);
    border-radius: 999px;
}

.thumbWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb {
    height: 20px;
    width: 20px;
    background: var(--accent);
    border-radius: 50%;
    border: 1px solid var(--border);
    outline: none;
}

.value {
    position: absolute;
    top: 20px;
    font-size: 12px;
    white-space: nowrap;
}

.rangeWrapper {
    position: relative;
    margin-top: 30px;
}

.maxPrice {
    position: absolute;
    top: -30px;
    right: -18px;
}

.minPrice {
    position: absolute;
    top: -30px;
    left: 0;
}