@use '../../../styles/helpers/index' as *;


.container {
    display: flex;
    flex-direction: column;
    gap: rem(10);
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(5);
}

.range {
    -webkit-appearance: none;
    background-color: black;
    border-radius: rem(20);
    height: rem(10);
    width: 100%;
    position: relative;
    cursor: pointer;
    caret-color: transparent;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: white;

        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
}

.rangeValue {
    position: absolute;
    bottom: rem(-20);
    font-weight: bold;
    color: black;
    transform: translateX(0);
    white-space: nowrap;
}