@use '../../../styles/helpers/index' as *;

.typesWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: rem(65);
    background-color: #f0f0f0;
    border-radius: rem(40);
    padding: rem(40) rem(24);

    @include tablet-above {
        padding: rem(70) rem(64);
    }
}

.typesContainer {
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.typeContainer {
    cursor: pointer;
    background: lightgray 50% / cover no-repeat;
    position: relative;
    width: 100%;
    height: 190px;
    flex-shrink: 0;
    border-radius: rem(20);
    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    @include hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        scale: 1.05;
    }

    @include desktop-above {
        height: rem(270);
    }
}

.rowFirst {
    @include tablet-above {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .typeTitle {
        position: absolute;
        top: rem(15);
        right: rem(25);
    }
}

.rowSecond {
    @include tablet-above {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .typeTitle {
        position: absolute;
        top: rem(15);
        left: rem(25);
    }
}
