@use '../../styles/helpers/index' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(20);
    height: 100%;
}

.catalogContainer {
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: rem(20);
    column-gap: rem(30);

    & h3 {
    }
}

.title {
    margin-bottom: rem(10);
}

.main {
    display: flex;
    gap: rem(10);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12);
    min-height: rem(40);

    @include tablet-above {
        gap: rem(24);
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            height: rem(30);
            width: rem(1);
            background-color: var(--border);
            top: 50%;
            right: rem(-6);
            transform: translateY(-50%);

            @include tablet-above {
                right: rem(-12);
            }
        }
    }
}

.filters {
    display: flex;
    gap: rem(10);
    align-items: center;

    @include hover {
        scale: 1.1;
        color: var(--color-accent);
    }
}

.iconFilters {
    width: rem(32);
    height: rem(32);
}

.sort {
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(5);

    .sortItems {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(6);


        button {
            position: relative;
            width: 100%;

            &:not(:last-child)::after {
                position: absolute;
                left: 0;
                bottom: -3px;
                content: '';
                width: 100%;
                height: rem(1);
                background-color: var(--border);

            }
        }


        & button {
            @include hover {
                color: var(--accent);
            }
        }
    }
}


.wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.notFoundItems {
    @include fluid-text(48, 24);
    opacity: 0.6;
    margin-top: rem(200);
}
