@use '../../styles/helpers/index' as *;



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(20);
    height: 100%;
}

.catalogContainer {
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: rem(20);
    column-gap: rem(30);
    & h3 {

    }
}

.main {
    display: flex;
//    gap: rem(25);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12);
    min-height: rem(40);

    @include tablet-above {
        gap: rem(24);
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            height: rem(30);
            width: rem(1);
            background-color: lightgrey;
            top: 50%;
            right: rem(-6);
            transform: translateY(-50%);

            @include tablet-above {
                right: rem(-12);
            }
        }
    }
}

.filters {
    display: flex;
    gap: rem(10);
    align-items: center;

    @include hover {
        scale: 1.1;
        color: black;
    }
}

.iconFilters {
    width: rem(32);
    height: rem(32);
}


.sort {
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(5);

    .sortItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(5);

        & button {
            @include hover {
                color: var(--color-accent);
            }
        }
    }
}
.list {

    display: grid;
    column-gap: rem(20);
    row-gap: rem(40);
    width: 100%;
    place-items: center;
    grid-template-columns: minmax(0, 1fr);

    &.noEvents {
        pointer-events: none;
    }

    @include mobile-above {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

    @include tablet-above {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

