@use '../../styles/helpers/index' as *;

.container {
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: rem(20);
    @include tablet-above {
        gap: rem(24);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    @include tablet-above {
        align-items: stretch;
        flex-direction: row;
    }
}

.list {
    background: var(--bg-secondary);
    overflow-y: auto;
    max-height: rem(630);
    display: flex;
    flex-direction: column;
    gap: rem(32);
    border: 1px solid var(--border);
    border-radius: rem(10);
    padding: rem(14);
    width: 100%;
    height: 100%;

    &.has-scroll {
        overscroll-behavior: contain;
    }

    @include scrollbar();

    @include tablet-above {
        padding: rem(24);
    }
}

.item {
    position: relative;
    max-height: 200px;
    display: flex;
    gap: rem(14);

    @include tablet-above {
        gap: rem(16);
    }

    &:not(:last-child)::after {
        position: absolute;
        content: '';
        bottom: -16px;
        left: 0;
        height: rem(1);
        width: 100%;
        background: var(--border);

    }
}

.removeBtn {
    position: absolute;
    right: 0;
    top: 2px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    width: rem(100);
    border-radius: rem(20);

    @include tablet-above {
        width: rem(190);
    }
}

.image {

    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgDiscount {
    border-radius: 62px;
    background: var(--accent);
    color: var(--accent-foreground);
    padding: rem(2) rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: rem(10);

    position: absolute;
    top: 2px;
    right: 2px;
    pointer-events: none;

    @include desktop-above {
        font-size: rem(12);
    }
}

.name {
    margin-right: rem(20);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    gap: rem(4);
}


.footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(15);
    row-gap: rem(5);
    justify-content: space-between;
    align-items: center;
}

.quantity {
    background-color: var(--primary);
    border-radius: rem(20);
    padding: rem(4) rem(8);
    display: flex;
    gap: rem(10);

    @include tablet-above {
        padding: rem(6) rem(10);
    }

    @include desktop-above {
        gap: rem(15);
        padding: rem(8) rem(12);
    }
}

.quantityBtn {
    flex-shrink: 0;

    &:disabled {
        cursor: auto;

        .iconQuantity {
            fill: var(--text) !important;
            opacity: 0.3;
        }
    }
}

.iconQuantity {
    width: rem(16);
    height: rem(16);
    fill: var(--text);

    @include tablet-above {
        width: rem(20);
        height: rem(20);
    }

    @include hover {
        fill: var(--accent);
    }
}

.value {
    text-transform: capitalize;
    color: var(--primary);
}

.summary {
    margin-left: auto;
    background: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: rem(10);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    width: 100%;
    padding: rem(20);

    @include tablet-above {
        max-width: rem(350);
    }

    @include desktop-above {
        max-width: rem(500);
        gap: rem(28);
        padding: rem(24);
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: -10px;
            left: 0;
            height: rem(1);
            width: 100%;
            background: var(--border);

            @include tablet-above {
                bottom: -14px;
            }
        }
    }
}

.summaryList {
    display: flex;
    flex-direction: column;
    gap: rem(20);
}

.summaryItem {
    display: flex;
    justify-content: space-between;
}

.total {
    font-weight: 700;
}

.discount {
    color: var(--destructive);
}

.checkoutBtn {
    display: flex;
    justify-content: center;
    gap: rem(12);

    @include hover {
        .iconArrow {
            fill: var(--text);
        }
    }
}

.promo {
    display: flex;
    justify-content: center;
    gap: rem(12);
    flex-wrap: wrap;
}

.promoInputWrapper {
    display: flex;
    align-items: center;
    gap: rem(10);
    background-color: var(--color-bg);
    border-radius: rem(20);
    padding: rem(12) rem(0);
    width: 100%;

    & > input {
        width: 100%;
    }

    @include tablet-above {
        gap: rem(12);
    }
}

.promoInput {
    &:disabled {
        cursor: not-allowed;
    }
}

.promoBtn {
    width: 100%;
    border: 1px solid var(--color-border);
}

.promoLoader {
    height: rem(25) !important;
}

.iconArrow {
    width: rem(20);
    height: rem(20);
    fill: var(--color-text);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconPromo {
    fill: var(--text);
    width: rem(20);
    height: rem(20);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconTrash {
    width: rem(20);
    height: rem(20);
    fill: var(--destructive);
    transition: var(--transition-duration);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }

    @include hover {
        scale: 1.2;
    }
}


.emptyWrapper {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary);

    h3 {
        color: var(--text);
    }
}

.emptyBtn {
    margin-top: rem(40);
    width: rem(200);

    @include desktop-above {
        width: rem(300);
    }
}

.emptyTitle {
    opacity: 0.5;
}

.priceContainer {
    display: flex;
    align-items: center;
    gap: rem(5);
}

.basePrice {
    color: var(--destructive);
    opacity: 0.7;
    text-decoration: line-through;
}
