@use '../../styles/helpers/index' as *;

.container {
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: rem(20);

    @include tablet-above {
        gap: rem(24);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    @include tablet-above {
        align-items: flex-start;
        flex-direction: row;
    }
}

.list {
    background: var(--bg-secondary);
    overflow-y: auto;
    max-height: rem(630);
    display: flex;
    flex-direction: column;
    gap: rem(32);
    border: 1px solid var(--border);
    border-radius: rem(10);
    padding: rem(14);
    width: 100%;

    &.has-scroll {
        overscroll-behavior: contain;
    }

    @include scrollbar();

    @include tablet-above {
        padding: rem(24);
    }
}

.item {
    max-height: 200px;
    position: relative;
    display: flex;
    gap: rem(14);

    @include tablet-above {
        gap: rem(16);
    }

    &:not(:last-child)::after {
        position: absolute;
        content: '';
        bottom: -16px;
        left: 0;
        height: rem(1);
        width: 100%;
        background: var(--border);

    }
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    width: rem(100);
    border-radius: rem(20);

    @include tablet-above {
        width: rem(190);
    }
}

.image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgDiscount {
    border-radius: 62px;
    background: var(--accent);
    color: var(--accent-foreground);
    padding: rem(2) rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: rem(10);

    position: absolute;
    top: 2px;
    right: 2px;
    pointer-events: none;

    @include desktop-above {
        font-size: rem(12);
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    gap: rem(4);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    border-radius: rem(20);
    padding: rem(7) rem(10);
    display: flex;
    gap: rem(10);

    @include tablet-above {
        gap: rem(15);
        padding: rem(14) rem(20);
    }

    & button {
        &:disabled {
            pointer-events: none;

            .iconQuantity {
                opacity: 0.3;
            }
        }
    }
}

.value {
    text-transform: capitalize;
    color: var(--primary);
}

.summary {
    background: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: rem(10);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    width: 100%;
    padding: rem(20);

    @include tablet-above {
        max-width: rem(500);
        gap: rem(28);
        padding: rem(24);
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: -10px;
            left: 0;
            height: rem(1);
            width: 100%;
            background: var(--border);

            @include tablet-above {
                bottom: -14px;
            }
        }
    }
}

.summaryList {
    display: flex;
    flex-direction: column;
    gap: rem(20);
}

.summaryItem {
    display: flex;
    justify-content: space-between;
}

.total {
    font-weight: 700;
}

.discount {
    color: var(--destructive);
}

.checkoutBtn {
    display: flex;
    justify-content: center;
    gap: rem(12);

    @include hover {
        .iconArrow {
            fill: var(--text);
        }
    }
}

.promo {
    display: flex;
    justify-content: center;
    gap: rem(12);
    flex-wrap: wrap;
}

.promoInput {
    display: flex;
    align-items: center;
    gap: rem(10);
    background-color: var(--color-bg);
    border-radius: rem(20);
    padding: rem(12) rem(16);
    width: 100%;

    & > input {
        width: 100%;
    }

    @include tablet-above {
        gap: rem(12);
    }
}

.promoBtn {
    width: 100%;
    border: 1px solid var(--color-border);
}

.promoLoader {
    height: rem(25) !important;
}

.iconArrow {
    width: rem(20);
    height: rem(20);
    fill: var(--color-text);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconPromo {
    fill: var(--text);
    width: rem(20);
    height: rem(20);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconTrash {
    width: rem(20);
    height: rem(20);
    fill: var(--destructive);
    transition: var(--transition-duration);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }

    @include hover {
        scale: 1.2;
    }
}

.iconQuantity {
    width: rem(16);
    height: rem(16);
    fill: var(--text);

    @include tablet-above {
        width: rem(20);
        height: rem(20);
    }

    @include hover {
        fill: var(--accent);
    }
}

.empty {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        color: var(--color-text-grey) !important;
    }
}

.priceContainer {
    display: flex;
    align-items: center;
    gap: rem(5);
}

.basePrice {
    color: var(--destructive);
    opacity: 0.7;
    text-decoration: line-through;
}
