@use '../../styles/helpers/index' as *;

.container {
    display: flex;
    flex-direction: column;
    color: black;
    gap: rem(20);

    @include tablet-above {
        gap: rem(24);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    @include tablet-above {
        align-items: flex-start;
        flex-direction: row;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    border: 1px solid lightgrey;
    border-radius: rem(20);
    padding: rem(14);
    width: 100%;

    @include tablet-above {
        gap: rem(48);
        padding: rem(24);
    }
}

.item {
    position: relative;
    display: flex;
    gap: rem(14);

    @include tablet-above {
        gap: rem(16);
    }

    &:not(:last-child)::after {
        position: absolute;
        content: '';
        bottom: -16px;
        left: 0;
        height: rem(1);
        width: 100%;
        background: rgba(0, 0, 0, 0.1);

        @include tablet-above {
            bottom: -24px;
        }
    }
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    width: rem(100);
    border-radius: rem(20);

    @include tablet-above {
        width: rem(190);
    }
}

.image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgDiscount {
    border-radius: 62px;
    background: rgba(255, 51, 51, 0.1);
    color: red;
    padding: rem(2) rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: rem(10);

    position: absolute;
    top: 2px;
    right: 2px;
    pointer-events: none;

    @include desktop-above {
        font-size: rem(12);
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    gap: rem(4);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    background-color: #f0f0f0;
    border-radius: rem(20);
    padding: rem(7) rem(10);
    display: flex;
    gap: rem(20);

    @include tablet-above {
        padding: rem(14) rem(20);
    }

    & button {
        &:disabled {
            pointer-events: none;

            .iconQuantity {
                opacity: 0.3;
            }
        }
    }
}

.value {
    text-transform: capitalize;
    color: var(--color-text-grey);
}

.summary {
    border: 1px solid lightgrey;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    width: 100%;
    padding: rem(20);

    @include tablet-above {
        max-width: rem(500);
        gap: rem(28);
        padding: rem(24);
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: -10px;
            left: 0;
            height: rem(1);
            width: 100%;
            background: rgba(0, 0, 0, 0.1);

            @include tablet-above {
                bottom: -14px;
            }
        }
    }
}

.summaryList {
    display: flex;
    flex-direction: column;
    gap: rem(20);
}

.summaryItem {
    display: flex;
    justify-content: space-between;
}

.label {
    color: var(--color-text-grey);
}

.amount {
    font-weight: 700;
}

.discount {
    color: red;
}

.checkoutBtn {
    display: flex;
    justify-content: center;
    gap: rem(12);

    @include hover {
        .iconArrow {
            fill: black;
        }
    }
}

.promo {
    display: flex;
    justify-content: center;
    gap: rem(12);
    flex-wrap: wrap;
}

.promoInput {
    display: flex;
    gap: rem(10);
    background-color: #f0f0f0;
    border-radius: rem(20);
    padding: rem(12) rem(16);
    width: 100%;

    & > input {
        width: 100%;
    }

    @include tablet-above {
        gap: rem(12);
    }
}

.promoBtn {
    width: 100%;
    border: 1px solid lightgrey;
}

.promoLoader {
    height: rem(25) !important;
}

.iconArrow {
    width: rem(20);
    height: rem(20);
    fill: lightgrey;

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconPromo {
    fill: white;
    width: rem(20);
    height: rem(20);

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }
}

.iconTrash {
    width: rem(20);
    height: rem(20);
    fill: red;

    @include tablet-above {
        width: rem(24);
        height: rem(24);
    }

    @include hover {
        scale: 1.2;
    }
}

.iconQuantity {
    width: rem(16);
    height: rem(16);
    fill: black;

    @include tablet-above {
        width: rem(20);
        height: rem(20);
    }

    @include hover {
        fill: var(--color-accent);
    }
}

.empty {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        color: var(--color-text-grey) !important;
    }
}
