@use '../../styles/helpers/index' as *;


.authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: rem(60);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20);
    max-width: rem(500);
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);


}

.title {
    border-bottom: 1px solid var(--border);
    width: 100%;
    padding-bottom: rem(25);
    text-align: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    padding-block: rem(20);
    width: 100%;
    max-width: rem(500);
}

.switchBtn {
    @include fluid_text(16, 10);

    color: var(--text);
    background-color: transparent;
    width: auto;
    height: rem(20);
    justify-content: right;

    @include hover {
        background-color: transparent;
    }
}

.passContainer {
    position: relative;
}

.eyeBtn {
    position: absolute;
    right: 15px;
    top: 14px;
}

.iconEye {
    fill: var(--primary);
    width: rem(16);
    height: rem(16);
}

.iconEyeBlocked {
    fill: var(--primary);
    width: rem(16);
    height: rem(16);
}

.loader {
    height: rem(25);
}