@use '../../styles/helpers/index' as *;

.colorSelector {
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.colorOptions {
    display: flex;
    gap: rem(12);
    flex-wrap: wrap;

    @include tablet-above {
        gap: rem(16);
    }
}


.colorSwatch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(39);
    height: rem(39);
    border-radius: 50%;
    border: 1px solid var(--border);
    cursor: pointer;

    @include tablet-above {
        width: rem(37);
        height: rem(37);
    }

    @include hover {
        scale: 1.3;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.iconCheckMark {
    fill: transparent;
    width: rem(17);
    height: rem(17);

}

.active {
    &.iconCheckMark {
        fill: var(--accent);
    }

    &.colorSwatch {
        border: 2px solid var(--accent);
    }
}

.iconNotAvailiable {
    position: absolute;
    inset: 0;
    transform: translateX(38%) translateY(40%);
    fill: var(--destructive);
    opacity: 0.4;
    width: rem(20);
    height: rem(20);
}
