.accordionContainer {
    flex-shrink: 0;
    overflow: hidden;
}

.accordion {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 0.25rem;
    cursor: pointer;
}

.accordionContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: white;
}
.absolute {
    position: absolute;
}

.accordion:hover {
    color: var(--color-accent);
}

.accordion:hover .icon {
    fill: var(--color-accent);
}

.icon {
    transition: transform 0.3s ease;
}

.active {
    transform: rotate(180deg);
}