@use '../../styles/helpers/index' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(10);
    padding-block: rem(20);
    text-transform: capitalize;
}

.item {
    display: flex;
    align-items: center;

    &:last-child .current {
        color: var(--text);
    }
}

.link {
    display: flex;
    align-items: center;
    gap: rem(5);
    color: inherit;
    text-decoration: none;

    @include hover {
        color: var(--accent);
    }
}

.current {
    color: var(--primary) !important;
}

.icon {
    fill: var(--text);
    width: rem(14);
    height: rem(14);
    transform: rotate(-90deg);

    @include tablet-above {
        width: rem(16);
        height: rem(16);
    }
}
