@use '../../styles/helpers/index' as *;

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(55);
    padding-block: rem(64);

    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    }
}

.categoryButton {
    border: rem(1) solid lightgrey;
    border-radius: rem(62);
    background-color: white;
    padding: rem(16) rem(54);
    color: black;
    max-width: rem(300)!important;
}

.list {
    display: grid;
    place-items: center;
    row-gap: rem(25);
    width: 100%;

    grid-template-columns: minmax(0, 1fr);

    @include mobile-above {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

    @include tablet-above {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: rem(20);
    }

}