@use '../../styles/helpers/index' as *;

.wrapper {
    padding: rem(24);
    border: 1px solid var(--border);
    border-radius: rem(8);
    text-align: center;
    margin: rem(16) auto;
    max-width: rem(400);
}

.title {
    font-size: rem(20);
    font-weight: 700;
    color: var(--destructive);
    margin-bottom: rem(8);
}

.message {
    font-size: rem(16);
    color: var(--text);
}
