@use '../../../styles/helpers/index' as *;

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(55);
    padding-block: rem(64);

    &:not(:last-child) {
        border-bottom: 1px solid var(--border);
    }
}

.categoryButton {
    max-width: rem(250) !important;
}

.list {
    @include tablet-above {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
}

.skeletonCategory {
    gap: rem(55);
    padding-block: rem(64);

    &:not(:last-child) {
        border-bottom: 1px solid var(--border);
    }
}
