@use '../../styles/helpers/index' as *;

.togglerContainer {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border);
}

.link {
    color: var(--text);
    position: relative;
    padding-block: rem(24);

    @include hover {
        color: var(--accent);
    }
}

.active {
    color: var(--accent);
    scale: 1.15;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 4px;
        height: rem(1);
        width: 150%;
        background: linear-gradient(
                90deg,
                transparent 0%,
                var(--accent-foreground) 20%,
                var(--accent-foreground) 80%,
                transparent 100%
        );
        transform: translateX(-50%);

        @include tablet-above {
            width: rem(200);
        }
    }
}

.outlet {
    padding-block: rem(45);
}
