@use '../../styles/helpers/index' as *;

.container {
    height: 100%;
    width: 100%;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;

    border-radius: rem(20);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    @include hover {
        color: inherit;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        scale: 1.05;
    }
}

.imgContainer {
    position: relative;
    border-radius: rem(20);
    width: 100%;
    min-width: rem(100);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.cardContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: rem(8);
    padding: rem(10);
    width: 100%;

    text-align: left;
    color: var(--color-text-black);
    background-color: white;
    border-bottom-left-radius: rem(20);
    border-bottom-right-radius: rem(20);
}

.cardName {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.ratingContainer {
    @include fluid-text(14, 12);
    display: flex;
    gap: rem(13);
}

.ratingIconsContainer {
    display: flex;
}

.ratingNumberAccent {
    color: var(--color-text-grey);
}

.priceContainer {
    @include fluid-text(24, 20);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: rem(5);
}

.originalPrice {
    text-decoration-line: line-through;
    color: var(--color-text-grey);
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    border-radius: 62px;
    background: rgba(255, 51, 51, 0.1);
    color: red;
    padding: rem(4) rem(12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: rem(10);

    @include desktop-above {
        font-size: rem(14);
    }
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
}

.color {
    position: relative;

    width: rem(27);
    height: rem(27);
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.iconNotAvailiable {
    position: absolute;
    inset: 0;
    transform: translateX(30%) translateY(30%);
    fill: red;
    opacity: 0.4;
    width: rem(16);
    height: rem(16);
}
