html.dark {
    --bg: oklch(0 0 0);
    --bg-secondary: oklch(0.191 0.004 308.207);

    --text: oklch(0.984 0.002 343.484);

    --disabled: oklch(0.184 0.029 347.169);
    --disabled-foreground: oklch(0.773 0.019 344.061);

    --card: oklch(0.085 0.015 343.365);
    --card-foreground: oklch(0.984 0.002 343.484);

    --border: oklch(0.262 0.019 345.189);

    --primary: oklch(0.751 0.034 344.529);
    --primary-foreground: oklch(0.21 0.015 345.202);

    --secondary: oklch(0.311 0.026 345.447);
    --secondary-foreground: oklch(0.836 0.02 344.044);

    --accent: oklch(0.311 0.026 345.447);
    --accent-foreground: oklch(0.872 0.02 340.759);

    --destructive: oklch(0.588 0.16 24.265);
    --destructive-foreground: oklch(1 0 180);

    --ring: oklch(0.751 0.034 344.529);
}
