@use '../../../styles/helpers/index' as *;



.container {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    .active {
        button {
            color: black;
            font-weight: 600;
        }
        .icon {
            fill: black;
        }
    }
}

.option {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include hover {
        & >* {
            fill: var(--color-accent);
            color: var(--color-accent);
        }
    }
}

.icon {
    width: rem(16);
    height: rem(16);
    fill: var(--color-text-grey);
    transform: rotate(-90deg);
}

