@use '../../../styles/helpers/index' as *;

.container {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: rem(20);
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.imageSkeleton {
    width: 100%;
    height: 100%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    padding: rem(10);
}
