@use '../../styles/helpers' as *;


.colorSelector {
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.colorOptions {
    display: flex;
    gap: rem(12);
    flex-wrap: wrap;

    @include tablet-above {
        gap: rem(16);
    }
}

.colorSwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(39);
    height: rem(39);
    border-radius: 50%;
    cursor: pointer;

    @include tablet-above {
        width: rem(37);
        height: rem(37);
    }

    @include hover {
        scale: 1.1;
    }
}

.iconCheckMark {
    fill: transparent;
    width: rem(17);
    height: rem(17);

    &.active {
        fill: white;
    }
}

