@use '../../../styles/helpers' as *;

.hero {

}
.heroContent {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding-block: rem(120);
}

.heroImage {
    object-fit: cover;
}

.heroBtn {
    width: 211px;
}
.metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: rem(32);
    row-gap: rem(12);

    @include tablet-below {

    }

    @include tablet-above {
        justify-content: flex-start;
    }

}

.metricsColumn {
    display: flex;
    flex-direction: column;
    padding-right: rem(32);

    &:first-child {
        border-right: 1px solid lightgrey;
    }

    @include tablet-above {
        &:not(:last-child) {
            border-right: 1px solid lightgrey;
        }
    }
}

.metricsTitle {
    @include fluid-text(40, 24);
    font-weight: 700;
    color: black;
}