@use '../../styles/helpers/index' as *;

.pagination {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    padding-top: rem(44);
    margin-top: auto;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: rem(1);
        background-color: rgba(0, 0, 0, 0.1);
        top: rem(22);
    }
}

.pages {
    display: flex;
    align-items: center;
}

.page {
    padding: rem(12) rem(12);
    border-radius: rem(8);
    transition: all 0.2s;

    &:hover:not(.active) {
        background: rgba(0, 0, 0, 0.03);
    }

    &.active {
        background: rgba(0, 0, 0, 0.06);
        color: black;
    }
}

.dots {
    padding: rem(12) rem(8);
    color: rgba(0, 0, 0, 0.4);
    user-select: none;
}

.navBtn {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(8) rem(14);
    border-radius: rem(8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: rem(8);

    &:hover:not(:disabled) {
        background: rgba(0, 0, 0, 0.03);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btnText {
    @include mobile-below {
        display: none;
    }
}

.arrow {
    width: rem(16);
    height: rem(16);

    @include tablet-above {
        width: rem(20);
        height: rem(20);
    }
}

.arrowLeft {
    transform: rotate(-180deg);
}
