@use '../../styles/helpers/index' as *;

.pagination {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    padding-top: rem(25);
    margin-top: auto;
}

.pages {
    display: flex;
    align-items: center;
    gap: rem(3);
}

.page {
    padding: rem(8) rem(16);
    border-radius: rem(8);
    border: 1px solid var(--border);
    transition: all 0.2s;

    &:hover:not(.active) {
        background: var(--accent);
    }

    &.active {
        background: var(--primary);
        color: var(--text);
    }
}

.dots {
    padding: rem(12) rem(8);
    color: var(--text);
    user-select: none;
}

.navBtn {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(8) rem(14);
    border-radius: rem(8);
    border: 1px solid var(--border);
    gap: rem(8);

    &:hover:not(:disabled) {
        background: var(--accent);
        color: var(--accent-foreground);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btnText {
    @include mobile-below {
        display: none;
    }
}

.arrow {
    fill: var(--primary);
    width: rem(16);
    height: rem(16);

    @include tablet-above {
        width: rem(20);
        height: rem(20);
    }
}

.arrowLeft {
    transform: rotate(-180deg);
}
