@use '../../styles/helpers/index' as *;

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: rem(-1);
    background: var(--bg-secondary);
    border-bottom: rem(1) solid var(--border);
    z-index: 999;
}

.headerMain {
    position: relative;
    display: flex;
    gap: rem(16);
    align-items: center;
    justify-content: space-between;
    padding-block: rem(16);
    width: 100%;

    @include tablet-above {
        gap: rem(24);
    }

    @include desktop-above {
        gap: rem(40);
    }
}

.promo {
    display: block;
    background-color: var(--bg-secondary);
}

.promoContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid var(--border);

    color: var(--text);
    padding-block: rem(9);

    @include fluid-text(14, 12);
    text-align: center;
}

.promoClosed {
    display: none;
}

.promoBtn {
    color: var(--primary);
    text-align: center;
    margin-left: rem(5);
}

.iconPromoClose {
    width: rem(20);
    height: rem(20);
    justify-self: end;
    fill: var(--text);
}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-below {
        position: fixed;
        top: 0;
        left: -500%;
        width: 100%;
        max-width: rem(300);
        height: 100%;
        background: var(--bg);
        gap: rem(32);
        z-index: 999;
        transition: left 0.3s ease-in-out;
        padding: rem(40) rem(20);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: rem(16);

    @include tablet-above {
        gap: rem(24);
        flex-direction: row;
    }
}

.mobileNav {
    @include tablet-below {
        left: 0;
    }
}

.iconsContainer {
    display: flex;
    gap: rem(12);
    flex-shrink: 0;
    align-items: center;
    margin-left: auto;

    @include tablet-above {
        gap: rem(14);
    }
}

.burgerButton {
    @include tablet-above {
        display: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    z-index: 998;

    @include tablet-above {
        display: none;
    }
}

.searchDesktopContainer {
    flex-grow: 1;
    @include tablet-below {
        display: none;
    }
}

.searchMobileContainer {
    width: 100%;
    padding-block: rem(8);
    border-top: rem(1) solid var(--border);
}

.link {
    display: flex;
    align-items: center;
    gap: rem(10);
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s ease;

    @include hover {
        color: var(--accent
        );
    }
}

.dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(25);
    flex-shrink: 0;
    cursor: pointer;

    @include hover {
        .link {
            color: var(--accent);
        }
        .iconArrowRight {
            fill: var(--accent);
        }
    }
}

.dropdownIcon {
    transform: rotate(-90deg);
    fill: var(--text);
}

.iconLink {
    fill: var(--primary);
    width: rem(24);
    height: rem(24);
    transition: fill 0.3s ease;

    @include hover {
        fill: var(--accent);
    }
}

.iconSearch {
    fill: var(--primary);
    cursor: pointer;
    width: rem(24);
    height: rem(24);

    @include tablet-above {
        display: none;
    }
}

.iconMenu {
    fill: var(--primary);
    width: rem(24);
    height: rem(24);
}

.iconClose {
    color: var(--primary);
    position: absolute;
    top: rem(-50);
    right: rem(15);
    cursor: pointer;
    fill: var(--text);
    width: rem(24);
    height: rem(24);

    @include tablet-above {
        display: none;
    }
}

.iconArrowRight {
    transform: rotate(-90deg);
    width: rem(16);
    height: rem(16);
}


