@use '../../styles/helpers/index' as *;

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: rem(-1);
    background: rgba(255, 255, 255, 0.9);
    border-bottom: rem(1) solid lightgrey;
    z-index: 9999;

}
.headerMain {
    position: relative;
    display: flex;
    gap: rem(16);
    align-items: center;
    justify-content: space-between;
    padding-block: rem(16);
    width: 100%;

    @include tablet-above {
        gap: rem(24);
    }

    @include desktop-above {
        gap: rem(40);
    }
}

.promo {
    display: block;
    background-color: black;
}

.promoContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    color: white;
    padding-block: rem(9);

    @include fluid-text(14,12);
    text-align: center;
}

.promoClosed {
    display: none;
}

.promoBtn {
    text-decoration: underline;
    text-align: center;
    margin-left: rem(5)
}

.iconPromoClose {
    width: rem(20);
    height: rem(20);
    justify-self: end;
    fill: white;
}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;


    @include tablet-below {
        position: fixed;
        top: 0;
        left: -500%;
        max-width: rem(300);
        height: 100%;
        background: white;
        gap: rem(32);
        z-index: 999;
        transition: left 0.3s ease-in-out;
        box-shadow: rem(-5) 0 rem(15) rgba(0, 0, 0, 0.1);
        padding: rem(24);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: rem(16);

    @include tablet-above {
        gap: rem(24);
        flex-direction: row;
    }
}
.mobileNav {
    @include tablet-below {
        left: 0;
    }
}


.link {
    position: relative;
    color: var(--color-text-black);
    text-decoration: none;
    transition: color 0.3s ease;
}



.iconsContainer {
    display: flex;
    gap: rem(12);
    flex-shrink: 0;
    align-items: center;
    margin-left: auto;

    @include tablet-above {
        gap: rem(14);
    }

}



.burgerButton {
    @include tablet-above {
        display: none;
    }
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;

    @include tablet-above {
        display: none;
    }
}

.searchDesktopContainer {
    flex-grow: 1;
    @include tablet-below {
        display: none;
    }
}


.searchMobileContainer {
    width: 100%;
    padding-block: rem(8);
    border-top: rem(1) solid lightgrey;
}

.dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(25);
    flex-shrink: 0;
    cursor: pointer;

    @include hover {
        .link {
            color: var(--color-accent);
        }
        .iconArrowRight {
            fill: var(--color-accent);
        }
    }
}


.dropdownIcon {
    transform: rotate(-90deg);
    fill: grey;
}

.iconLink {
    width: rem(24);
    height: rem(24);
    transition: fill 0.3s ease;

    @include hover {
        fill: var(--color-accent);
    }
}

.iconSearch {
    cursor: pointer;
    fill: black;
    width: rem(24);
    height: rem(24);

    @include tablet-above {
        display: none;
    }
}

.iconMenu {
    width: rem(24);
    height: rem(24);
}

.iconClose {
    color: black;
    position: absolute;
    top: rem(15);
    right: rem(15);
    cursor: pointer;
    fill: black;
    width: rem(24);
    height: rem(24);

    @include tablet-above {
        display: none;
    }
}

.iconArrowRight {
    transform: rotate(-90deg);
    width: rem(16);
    height: rem(16);
}

