@use '../../styles/helpers/index' as *;


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(30);
    max-width: rem(800);
}

.title {
    font-size: rem(48);
    color: var(--destructive);
    opacity: 0.8;
}