@use '../../styles/helpers/index' as *;

footer {
    display: flex;
    flex-direction: column;
    gap: rem(48);
    flex-shrink: 0;
}

.subscription {
    background-color: black;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: rem(36) rem(64);

    @include tablet-above {
        flex-direction: row;
    }

    .subscriptionTitle {
        @include fluid-text(40,32);
        color: white;
    }

    .emailWrapper {
        display: flex;
        flex-direction: column;
        gap: rem(12);

        @include tablet-below {
            width: 100%;
        }
    }

    .emailContainer{
        display: flex;
        align-items: center;
        gap: rem(12);
        border-radius: rem(62);
        background-color: white;
        padding: rem(12) rem(16);
    }

    .emailInput {
        width: 100%;
    }
    .mailButton:hover {
        color: white;
    }
    .iconEmail {
        width: rem(20);
        height: rem(20);

        @include tablet-above {
            width: rem(24);
            height: rem(24);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    column-gap: rem(50);

    @include tablet-above {
        flex-direction: row;
        justify-content: space-between;
    }
    @include desktop-above {
        column-gap: rem(100);
    }
}

.description {
    display: flex;
    flex-direction: column;
    max-width: rem(350);

    @include tablet-above {
        width: rem(200);
        flex-shrink: 0;
    }
    @include desktop-above {
        width: rem(350);
    }
}

.socialLink {
    border: rem(1) solid var(--color-text-grey);
    border-radius: rem(28);
    padding: rem(7);
    width: rem(28);
    height: rem(28);
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialLink:hover {
    fill: var(--color-accent);
    border-color: var(--color-accent);
}

.socials {
    display: flex;
    gap: rem(8);
    margin-top: rem(24);
}

.iconSocial {
    width: rem(20);
    height: rem(20);
}

.columnsContainer {
    @include tablet-above {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(24);
    column-gap: rem(16);

    @include tablet-above {
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        flex-grow: 1;
        column-gap: rem(32);
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16);

    @include tablet-above {
        gap: rem(26);
    }
}

.columnLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(20);
    @include fluid-text(16, 14);

    @include tablet-above {
        gap: rem(26);
    }
}

.columnTitle {
    color: var(--color-text-black);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: rem(3);
}

.subFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    padding-block: rem(16);
    border-top: rem(1) solid lightgrey;

    @include tablet-above {
        flex-direction: row;
        justify-content: space-between;
        padding-block: 1.25rem;
    }
}
.badges {
    display: flex;
    gap: rem(10);

    @include tablet-above {
        gap: rem(12);
    }

    .iconBadge {
        width: rem(40);
        height: rem(25);
    }
}

