header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    /*overflow-x: hidden;*/

}

.headerMain {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    position: relative;
    width: 100%;

    @media screen and (max-width: 1024px) {
        gap: 1.5rem
    }
    @media screen and (max-width: 780px) {
        gap: 1rem
    }
}

.promo {
    display: block;
    background-color: black;
}

.promoContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    color: white;
    padding-block: min(0.45rem, 5%);

    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.promoClosed {
    display: none;
}

.promoBtn {
    text-decoration: underline;
    text-align: center;
    margin-left: 0.35rem;
}

.promoClose {
    justify-self: end;
    fill: white;
}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;



    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -500%;
        width: 19rem;
        height: 100%;
        background: white;
        gap: 2rem;
        z-index: 999;
        transition: left 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
    }
}

.menu {
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 1024px) {
        gap: 1rem;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .mobileNav {
        left: 0;
    }
}

.link {
    color: var(--color-text-black);
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--color-accent);
}

.link.active {
    color: var(--color-accent);
    font-weight: 600;
}

.linkIcon {
    width: 1.5rem;
    height: 1.5rem;
    transition: fill 0.3s ease;
}

.linkIcon:hover {
    fill: var(--color-accent);
}

.logo {
    font-family: var(--font-family-heading);
    color: var(--color-text-black);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 1.6rem;
    }

}

.iconsContainer {
    display: flex;
    gap: 0.7rem;
    flex-shrink: 0;
    align-items: center;
    margin-left: auto;

}

.iconSearch {
    display: none;
    cursor: pointer;
    fill: black;
    width: 1.5rem;
    height: 1.5rem;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.burgerButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.35rem;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.closeBtn {
    color: black;
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    fill: black;
    width: 20px;
    height: 20px;

    @media screen and (max-width: 768px) {
        display: block;
        fill: black;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.searchDesktopContainer {
    width: 100%;
    @media screen and (max-width: 768px) {
        display: none;
    }
}


.searchMobileContainer {
    display: block;
    width: 100%;
    padding-block: 0.5rem;
    border-top: 1px solid lightgrey;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-shrink: 0;
    cursor: pointer;
}

.dropdownContainer:hover {
    color: var(--color-accent);
}

.dropdownContainer:hover .dropdownIcon{
    fill: var(--color-accent);
}

.dropdownIcon {
    transform: rotate(-90deg);
    fill: grey;
}

