@use '../../styles/helpers/index' as *;

.container {
    position: relative;
}

.searchBox {
    display: flex;
    align-items: center;
    padding: rem(12) rem(16);
    gap: rem(12);
    border-radius: rem(62);
    background: var(--bg);

    &:focus-within {
        border: rem(1) solid var(--accent);
    }

    @include hover {
        border: rem(1) solid var(--accent);
    }
}

.search {
    color: var(--text);
    width: 100%;
}

.icon {
    cursor: pointer;
    fill: var(--primary);
    width: rem(22);
    height: rem(22);
}

.content {
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: rem(20);

    max-height: rem(400);
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    gap: rem(15);
    flex-direction: column;

    @include scrollbar();

    & > * {
        a {
            @include mobile-below {
                flex-direction: row;
            }
            @include laptop-above {
                flex-direction: row;
            }
        }
    }
}

.catalog {;
    border: none;
    padding: rem(10) rem(10);
    overflow-x: hidden;
    @include tablet-above {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.searchBtn {
    width: rem(200);
    margin-bottom: rem(10);
}
