@use '../../../styles/helpers/index' as *;

.hero {
    overflow: hidden;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-above {
        flex-direction: row;
    }
}

.heroContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: rem(32);
}

.heroImage {
    object-position: bottom;
    @include tablet-above {
        object-fit: cover;
    }
}

.heroBtn {
    max-width: 211px;
}

.metrics {
    display: flex;
    justify-content: center;
    column-gap: rem(16);
    row-gap: rem(6);
    flex-wrap: wrap;

    @include mobile-above {
        column-gap: rem(64);
    }

    @include tablet-above {
        justify-content: flex-start;
        column-gap: rem(64);
        flex-wrap: nowrap;
    }
}

.metricsColumn {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:last-child)::after {
        position: absolute;
        right: rem(-32);
        content: '';
        width: rem(1);
        height: 100%;
        background-color: var(--border);

        @include mobile-below {
            right: rem(-8);
        }
    }
}

.metricsTitle {
    @include fluid-text(40, 24);
    font-weight: 700;
    color: var(--text);
}

.brandContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: rem(30);
    padding-block: rem(35);

    @include tablet-above {
        padding-block: rem(45);
    }
}

.brands {
    background-color: var(--bg-secondary);
}

.brandIcon {
    fill: red;
    height: rem(40);
}


.brandImg {
    height: rem(23);

    @include tablet-above {
        height: rem(36);
    }
}
