@use '../../styles/helpers/index' as *;

.filterBox {
    position: fixed;
    inset: 0;
    z-index: 1000;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    gap: rem(24);

    background: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);

    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.4s ease;

    &.isOpen {
        width: 100%;
        height: 100%;
        padding: rem(20) rem(24);
        opacity: 1;

        @include laptop-above {
            width: rem(300);
        }
        @include laptop-above {
            height: fit-content;
        }
    }

    & p {
        font-weight: 700;
    }

    @include laptop-above {
        overflow: auto;
        position: static;
        z-index: 998;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    width: 100%;

    & > * {
        width: 100%;
    }

    & > *:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: rem(-15);
            height: rem(1);
            width: 100%;
            background: var(--border);
        }
    }

    .filterWrapper {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }
}

.filterTitle {
    @include fluid-text(24, 16);
    text-transform: capitalize;
    margin-bottom: rem(15);
}

.filterItems {
    display: flex;
    flex-wrap: wrap;
    gap: rem(15);
}

.column {
    padding: rem(10) 0;
}


.iconClose {
    fill: var(--primary);
    width: rem(24);
    height: rem(24);

    @include hover {
        fill: var(--accent);
    }
}

.filterBtn {
    padding: rem(5) rem(10) !important;


}

.active {
    background-color: var(--accent) !important;
    color: var(--accent-foreground) !important;
}

.skeletonContainer {
    width: rem(250);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: rem(20);
}