.header {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: min(1.25em, 8%) min(6em,8%);

    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    min-width: 375px;
}

.link:hover {
    color:var(--color-accent)
}

.linkIcon {
    width: 24px;
    height: 24px;
}

.linkIcon:hover {
    fill: var(--color-accent);
}

.logo {
    font-family: var(--font-family-heading);
    color: var(--color-text-black);

    font-size: clamp(1.5rem, calc(7vw + 1rem), 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iconsContainer {
    display: flex;
    gap: 14px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    gap: 24px;


    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menuOpened {
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 0;
        right: 0;
        background-color: lightgrey;
        min-height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

    }
}

.closeBtn {
    position: absolute;
    fill: black;
    top: 15px;
    right: 15px;
}



.burgerButton {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        flex-shrink: 0;
    }
}