@use '../../styles/helpers/index' as *;

.accordionContainer {
    flex-shrink: 0;
}

.btn {
    display: flex;
    align-items: center;
    gap: rem(8);
    cursor: pointer;
    color: var(--primary);

    @include hover {
        color: var(--accent);

        & svg {
            fill: var(--accent);
        }
    }
}

.accordionContent {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    margin-top: rem(8);
    padding-left: rem(10);
    border: 1px solid var(--border);
    border-top: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--bg-secondary);
}

.absolute {
    position: absolute;
    z-index: 998;
}

.accordion {
    @include hover {
        color: var(--color-accent);

        .icon {
            fill: var(--color-accent);
        }
    }
}

.icon {
    fill: var(--primary);
    transition: transform 0.3s ease;
    width: rem(16);
    height: rem(16);
}

.active {
    transform: rotate(180deg);
}
