@use '../../styles/helpers/index' as *;

.accordionContainer {
    flex-shrink: 0;
}

.btn {
    display: flex;
    align-items: center;
    gap: rem(8);
    cursor: pointer;
    color: black;

    @include hover {
        color: var(--color-accent);

        & svg {
            fill: var(--color-accent);
        }
    }
}

.accordionContent {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    margin-top: rem(8);
    padding-left: rem(10);
    background-color: white;
}
.absolute {
    position: absolute;
    z-index: 998;
}

.accordion {
    @include hover {
        color: var(--color-accent);

        .icon {
            fill: var(--color-accent);
        }
    }
}

.icon {
    transition: transform 0.3s ease;
    width: rem(16);
    height: rem(16);
}

.active {
    transform: rotate(180deg);
}
