.container {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 62px;
    background: #F0F0F0;
    max-width: 750px;
}

button {
    flex-shrink: 0;
}

.container:focus-within {
    border: 1px solid var(--color-accent);
}

.container:hover {
    border: 1px solid var(--color-accent);
}


.search {


}

.icon {
    cursor: pointer;
    fill: grey;
    width: 24px;
    height: 24px;
}
