.container {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 0.75rem;
    border-radius: 4rem;
    background: #F0F0F0;

}

button {
    flex-shrink: 0;
}

.container:focus-within {
    border: 1px solid var(--color-accent);
}

.container:hover {
    border: 1px solid var(--color-accent);
}


.search {
    width: 100%;
}

.icon {
    cursor: pointer;
    fill: grey;
    width: 1.5rem;
    height: 1.5rem;
}
