@use '../../styles/helpers/index' as *;

.MyButton {
    @include fluid-text(16, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--border-radius);
    padding: rem(12) rem(16);
    font-weight: 500;
    width: 100%;


    @include hover {
        scale: 1.05;
        background-color: var(--accent);
        color: var(--accent-foreground);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--primary);
    }
}

