@use '../helpers/index' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.logo {
    color: var(--text);

    font-family: var(--font-family-heading);
    font-size: fluid(32, 25);
    font-weight: 700;
}

.visually-hidden {
    @include visually-hidden;
}

.no-translate {
    translate: none;
}


.skeleton {
    background: linear-gradient(
            90deg,
            var(--bg-secondary) 25%,
            var(--bg) 37%,
            var(--bg-secondary) 63%
    );
    background-size: 200% 100%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
