@use '../helpers/index' as *;

:root {
    --font-family-heading: 'Oswald', sans-serif;
    --font-family-text: 'Inter', sans-serif;

    --border-radius: #{rem(12)};

    --container-width: #{rem(1920)};
    --container-padding-x: #{rem(100)};

    --transition-duration: 0.2s;

    @include desktop-below {
        --container-padding-x: #{rem(32)};
    }
    @include tablet-below {
        --container-padding-x: #{rem(16)};
    }
}
