@use '../../styles/helpers/index' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: rem(60);
}

.title {
    font-size: rem(128);
    font-weight: 700;
    color: var(--text);
    margin-bottom: rem(16);
}

.subtitle {
    font-size: rem(24);
    margin-bottom: rem(32);
}

.btn {
    width: rem(300);
}
